<div class="menu-icon">&#9776;</div>
<div class="menu-close-icon">&times;</div>
<div id="side_panel">
  <div id="heading"><center>Answers</center></div>
  <div id="search">
    <input type="text" id="search_field" placeholder="Search..." tabindex="1" />
  </div>

  <ul class="answers">
    <% @submissions.each do |submission| %>
    <li id="">
      <div class="name">t</div>
      <div class="answer_preview">t</div>
    </li>
    <% end %>
  </ul>
</div>

<div id="content">
  <div class="name_heading"><center>Tom:</center></div>
  <div class="scenario">You're lost on a tropical island with no one to help you. It's over man. All you have for the next six months is an old iPod with 3 songs on it. What are they?</div>
  <div class="votes">
    <ol>
      <li>Dream Koala - Odyssy</li>
      <li>Boards of Canada - Olson</li>
      <li>Childish Gambino - Sober</li>
    </ol>
  </div>
  <div class="meta">Submitted 2 days ago. Code: <a href="/answers/qv61" target="_blank" title="Open in new tab...">qv6a</a></div>
</div>

<div class="clear"></div>